<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="presionarMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/logeado']" routerLinkActive="router-link-active">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Contenidos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item [routerLink]="['/navscan']">
        <ion-icon name="camera"></ion-icon>
        &nbsp; SCAN
      </ion-item>
      <ion-item>
        <ion-icon name="bookmark"></ion-icon>
        &nbsp; Historial de Registro
      </ion-item>
      <ion-item [routerLink]="['/cliente']">
        <ion-icon name="person"></ion-icon>
        &nbsp; Agregar Cliente
      </ion-item>
      <ion-item [routerLink]="['/envio']">
        <ion-icon name="bookmark"></ion-icon>
        &nbsp; Agregar Envio
      </ion-item>
      <ion-item [routerLink]="['/producto']">
        <ion-icon name="cube"></ion-icon>
        &nbsp; Agregar Producto
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

</div>
