<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/logeado"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre Cliente</ion-label>
    <ion-input type="text" [(ngModel)]="model.NOMBRE_CLIENTE"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Rut Cliente</ion-label>
    <ion-input type="text" [(ngModel)]="model.RUT_CLIENTE"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="agregarCiente()">Agregar Cliente</ion-button>

  <ion-title position="center">Listado de Clientes</ion-title>

  <ion-list>

    <ion-item *ngFor="let registro of cliente">
      <ion-label>
        <h2>{{registro.NOMBRE_CLIENTE}}</h2>
        <p>{{registro.RUT_CLIENTE}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

